In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.stats import sem, ttest_ind
import stats

In [2]:
# Read in data
general_heights_file = "../Resources/general_heights.csv"
wba_data_file = "../Resources/wba_data.csv"
gen_heights_data = pd.read_csv(general_heights_file)
wba_data = pd.read_csv(wba_data_file)
wba_data.head()

                  name position  age  height
0         Matee Ajavon        G   28      68
1            Swin Cash        F   34      73
2       Erika de Souza        F   32      77
3        Celine Dumerc        G   31      66
4  Nadia Gomes Colhado        C   25      76

In [3]:
gen_heights_data.head()

   height
0    67.0
1    64.0
2    61.0
3    61.0
4    63.0

In [16]:
# Run the t-test

div = 20
lim = len(wba_data) // div
wba_samples = [wba_data.iloc[(i * div):(i * div * div), 3]
            for i in range(0, lim)]
print(wba_samples)
wba_mean_samples = [s.mean() for s in wba_samples]
wba_sem = [s.sem() for s in wba_samples]
wba_mean_samples
wba_sem

[Series([], Name: height, dtype: int64), 20    77
21    77
22    69
23    70
24    68
25    74
26    67
27    76
28    78
29    72
30    71
31    74
32    70
33    71
34    67
35    76
36    76
37    74
38    66
39    73
40    72
41    69
42    73
43    75
44    68
45    76
46    73
47    70
48    77
49    70
50    72
51    76
52    68
53    72
54    70
55    75
56    73
57    73
58    74
59    69
60    69
61    75
62    72
63    77
64    70
65    68
66    75
67    69
68    77
69    66
70    69
71    76
72    75
73    70
74    76
Name: height, dtype: int64, 40    72
41    69
42    73
43    75
44    68
45    76
46    73
47    70
48    77
49    70
50    72
51    76
52    68
53    72
54    70
55    75
56    73
57    73
58    74
59    69
60    69
61    75
62    72
63    77
64    70
65    68
66    75
67    69
68    77
69    66
70    69
71    76
72    75
73    70
74    76
Name: height, dtype: int64]

[nan, 0.4513015561486414, 0.5334883728232276]

In [9]:
# Report the data

In [10]:
# Plot sample means with error bars

In [7]:
# Plot mean height of players