In [13]:
# Dependencies
from matplotlib import pyplot as plt
from stats import median, mean
import numpy as np
import pandas as pd

In [14]:
# Read and shuffle data
housing_data = pd.read_csv("../Resources/housing_data.csv")
housing_data = housing_data.sample(frac=1).reset_index(drop=True)
housing_data.head()

,0.00632,18.00,2.310,0,0.5380,6.5750,65.20,4.0900,1,296.0,15.30,396.90,4.98,24.00
0,0.05360,21.0,5.64,0,0.439,6.511,21.1,6.8147,4,243.0,16.8,396.90,5.28,25.0
1,24.80170,0.0,18.10,0,0.693,5.349,96.0,1.7028,24,666.0,20.2,396.90,19.77,8.3
2,0.06127,40.0,6.41,1,0.447,6.826,27.6,4.8628,4,254.0,17.6,393.45,4.16,33.1
3,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311.0,15.2,396.90,13.27,18.9
4,0.03738,0.0,5.19,0,0.515,6.310,38.5,6.4584,5,224.0,20.2,389.40,6.75,20.7

In [21]:
# Create a bunch of samples, each with div items
div = 20
lim = len(housing_data) // div
samples = [housing_data.iloc[(i * div):(i * div + div), 13]
           for i in range(0, lim)]
samples

[0     25.0
 1      8.3
 2     33.1
 3     18.9
 4     20.7
 5     16.1
 6     12.7
 7     12.6
 8     23.9
 9     46.7
 10    23.8
 11    32.5
 12    20.1
 13    17.1
 14    20.6
 15    21.1
 16    22.3
 17    22.4
 18    21.7
 19    14.0
 Name: 24.00, dtype: float64, 20     7.0
 21    13.9
 22     5.0
 23    50.0
 24    21.4
 25    18.7
 26    11.8
 27    20.0
 28    19.4
 29    11.9
 30    26.7
 31    19.6
 32    15.6
 33    21.1
 34    18.5
 35    23.1
 36    14.5
 37    50.0
 38    36.1
 39    17.4
 Name: 24.00, dtype: float64, 40    14.1
 41    26.6
 42    19.4
 43    13.1
 44    25.2
 45    14.3
 46    21.9
 47    20.2
 48    24.3
 49    18.9
 50     7.2
 51    35.1
 52    30.1
 53    38.7
 54    21.7
 55    16.3
 56    17.6
 57    45.4
 58    20.7
 59     8.4
 Name: 24.00, dtype: float64, 60    17.8
 61    17.7
 62    20.0
 63    34.6
 64    15.3
 65    27.5
 66    32.2
 67    25.0
 68    15.0
 69    24.1
 70    41.7
 71    27.5
 72    23.1
 73    20.5
 74    23.9
 75    22.2
 76    22.2
 77    50.0
 78    23.3
 79    24.4
 Name: 24.00, dtype: float64, 80    29.8
 81    29.6
 82    19.9
 83    21.2
 84    24.8
 85    28.1
 86    33.2
 87    21.6
 88    23.0
 89    20.0
 90    17.5
 91    23.4
 92    50.0
 93    20.8
 94    23.1
 95    24.1
 96    22.1
 97    10.8
 98    23.8
 99    24.5
 Name: 24.00, dtype: float64, 100    26.4
 101    23.6
 102     5.6
 103    50.0
 104    24.6
 105    27.0
 106    22.6
 107    18.5
 108    37.2
 109    50.0
 110    23.8
 111    23.7
 112    21.5
 113    19.5
 114    37.0
 115    14.6
 116    23.1
 117    23.2
 118    16.2
 119     6.3
 Name: 24.00, dtype: float64, 120    10.5
 121    50.0
 122    33.4
 123    21.8
 124    31.5
 125    19.3
 126    13.3
 127    33.2
 128    25.0
 129    12.1
 130    13.2
 131    20.6
 132    20.4
 133    19.3
 134    27.9
 135    36.2
 136    20.5
 137    21.0
 138    33.3
 139    16.4
 Name: 24.00, dtype: float64, 140    28.7
 141    22.0
 142    22.9
 143    19.6
 144    29.0
 145    13.5
 146    21.4
 147    12.7
 148    17.4
 149    15.2
 150    14.1
 151    31.1
 152    23.9
 153    36.4
 154    22.5
 155    18.6
 156    13.8
 157     7.0
 158    18.5
 159    24.1
 Name: 24.00, dtype: float64, 160    48.8
 161    14.3
 162    12.8
 163    15.7
 164    23.3
 165    22.0
 166    33.4
 167    27.5
 168    19.6
 169    24.0
 170    18.3
 171     8.8
 172    13.4
 173    24.4
 174    22.9
 175    15.1
 176    20.4
 177    13.1
 178    13.1
 179    25.0
 Name: 24.00, dtype: float64, 180    13.4
 181    28.0
 182    10.2
 183    28.4
 184    20.1
 185    42.8
 186    19.3
 187     8.7
 188    32.7
 189    17.1
 190    32.0
 191    20.9
 192    19.0
 193    20.3
 194    21.7
 195    12.7
 196    23.7
 197    24.8
 198     8.5
 199    13.5
 Name: 24.00, dtype: float64, 200    22.0
 201    43.1
 202    23.1
 203    35.4
 204    36.2
 205    36.0
 206    32.0
 207    14.2
 208    17.9
 209    14.6
 210    19.2
 211    20.6
 212    23.2
 213    19.9
 214    17.1
 215    20.8
 216    31.2
 217    19.5
 218    20.6
 219    22.0
 Name: 24.00, dtype: float64, 220     7.4
 221    21.9
 222    18.2
 223     8.1
 224    13.8
 225    34.9
 226    14.5
 227    18.9
 228    11.3
 229    19.8
 230    35.4
 231    19.4
 232    50.0
 233    50.0
 234     8.3
 235    22.8
 236    28.7
 237    43.5
 238    28.2
 239    20.5
 Name: 24.00, dtype: float64, 240    13.1
 241    24.7
 242    25.3
 243    19.1
 244    23.3
 245    26.6
 246    21.0
 247    29.4
 248    22.0
 249    19.4
 250    21.5
 251    30.1
 252    21.4
 253    48.5
 254    21.7
 255    23.9
 256    17.5
 257    21.2
 258    15.6
 259    27.9
 Name: 24.00, dtype: float64, 260    24.5
 261    22.8
 262    19.3
 263     8.8
 264    15.2
 265    13.4
 266    28.7
 267    14.9
 268    29.6
 269    17.8
 270     7.2
 271    15.4
 272    26.2
 273    19.8
 274    24.3
 275    16.6
 276    20.6
 277    44.0
 278    16.6
 279    13.0
 Name: 24.00, dtype: float64, 280    16.2
 281    22.6
 282    16.1
 283    16.8
 284    22.7
 285    22.2
 286    34.9
 287    16.0
 288     7.2
 289    18.7
 290    23.7
 291    20.0
 292    19.1
 293    12.3
 294    18.2
 295    14.4
 296    41.3
 297    14.9
 298    19.9
 299    23.0
 Name: 24.00, dtype: float64, 300     5.0
 301    26.5
 302    36.5
 303    18.0
 304    19.8
 305    22.3
 306    24.5
 307    13.6
 308    13.9
 309    50.0
 310    18.1
 311    22.9
 312    20.8
 313    24.8
 314    15.2
 315     8.5
 316    24.8
 317    29.1
 318    25.0
 319    21.2
 Name: 24.00, dtype: float64, 320    21.7
 321    12.0
 322    15.6
 323     9.5
 324    43.8
 325    22.2
 326    16.5
 327    20.9
 328    17.2
 329    11.9
 330    22.6
 331    19.1
 332    23.7
 333    17.8
 334    19.5
 335    22.6
 336    18.5
 337    21.7
 338    27.1
 339    33.0
 Name: 24.00, dtype: float64, 340    13.8
 341    22.5
 342    19.6
 343    13.6
 344    21.2
 345    30.1
 346    20.1
 347    11.7
 348    34.9
 349    10.5
 350    13.8
 351    28.5
 352    19.3
 353    30.7
 354    20.1
 355     8.4
 356    18.2
 357    15.0
 358    16.8
 359    23.4
 Name: 24.00, dtype: float64, 360    21.4
 361    11.0
 362    21.2
 363    14.1
 364    18.6
 365    46.0
 366    19.7
 367    19.1
 368    10.9
 369    21.0
 370    20.3
 371    14.5
 372    50.0
 373    37.3
 374    15.0
 375    24.6
 376    29.1
 377    16.7
 378    19.2
 379    19.7
 Name: 24.00, dtype: float64, 380    19.6
 381    44.8
 382    11.5
 383    24.4
 384    23.1
 385    15.4
 386    14.4
 387    22.7
 388    23.8
 389    22.4
 390    18.7
 391    28.6
 392    20.1
 393    39.8
 394    15.6
 395    31.5
 396    10.2
 397    22.2
 398    28.4
 399    23.2
 Name: 24.00, dtype: float64, 400    22.0
 401    32.9
 402    14.8
 403    29.0
 404    18.4
 405    16.1
 406    22.6
 407    24.7
 408    30.8
 409    24.2
 410    17.2
 411    31.6
 412    17.8
 413    20.2
 414    23.1
 415    13.8
 416    48.3
 417    23.3
 418    50.0
 419    13.3
 Name: 24.00, dtype: float64, 420    33.8
 421    18.4
 422    10.2
 423    30.5
 424    18.8
 425    23.0
 426    42.3
 427    25.1
 428    23.2
 429    19.4
 430    26.4
 431    17.2
 432    10.4
 433    21.6
 434    25.0
 435    19.5
 436    20.3
 437    29.8
 438    12.5
 439    33.1
 Name: 24.00, dtype: float64, 440    37.6
 441    23.5
 442     9.6
 443    50.0
 444    17.4
 445    30.3
 446    23.9
 447    20.3
 448    50.0
 449    13.3
 450    20.0
 451    16.7
 452    18.3
 453    19.9
 454    27.1
 455    18.9
 456    13.4
 457    22.9
 458    27.5
 459    31.6
 Name: 24.00, dtype: float64, 460    20.6
 461    24.7
 462    22.8
 463    20.4
 464    29.9
 465    18.8
 466    23.6
 467    22.8
 468    17.8
 469     7.5
 470    10.4
 471    19.0
 472    11.8
 473    24.4
 474    32.4
 475    35.2
 476    18.4
 477    23.0
 478    50.0
 479    10.9
 Name: 24.00, dtype: float64, 480    11.7
 481    25.0
 482    16.5
 483    17.3
 484    31.7
 485    22.5
 486    20.4
 487    25.0
 488    37.9
 489    14.9
 490    21.9
 491     9.7
 492    26.6
 493    19.4
 494    21.4
 495    24.3
 496    50.0
 497    17.5
 498    15.6
 499    34.7
 Name: 24.00, dtype: float64]

In [25]:
# Calculate the means for each sample.
mean_house_price = []
for s in samples:
    mean_house_price.append(mean(s))
mean_house_price

[21.680000000000003,
 21.085,
 21.959999999999997,
 25.4,
 24.565000000000005,
 24.720000000000002,
 23.945,
 20.619999999999997,
 20.794999999999998,
 20.889999999999997,
 24.43,
 23.78,
 23.659999999999997,
 19.935000000000002,
 20.009999999999998,
 22.025,
 20.845000000000002,
 19.61,
 22.47,
 23.020000000000003,
 24.705000000000002,
 23.025,
 24.61,
 22.22,
 23.2]

In [ ]:
# Calculate the standard error for each sample.
sem = [s.mean() for s in samples]

In [16]:
## Instructions

# Open the starter file provided, and begin by inspecting the data. Which column contains house prices?

# Create a number of samples of house prices.

# If you work with the non `sample.ipynb` file, this step is done for you.



# Calculate the standard error for each sample.

# Create a plot displaying the means for each sample, with the standard error as error bars.

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
       ..
470   NaN
471   NaN
472   NaN
473   NaN
474   NaN
475   NaN
476   NaN
477   NaN
478   NaN
479   NaN
480   NaN
481   NaN
482   NaN
483   NaN
484   NaN
485   NaN
486   NaN
487   NaN
488   NaN
489   NaN
490   NaN
491   NaN
492   NaN
493   NaN
494   NaN
495   NaN
496   NaN
497   NaN
498   NaN
499   NaN
Name: 24.00, Length: 500, dtype: float64